body, html {
  height: 100%;
  margin: 0;
}

body {
font-family: Arial, Helvetica, sans-serif;
font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'JetBrains Mono', monospace;
font-weight: bold;
}

/* Navbar styling */
.navbar-custom {
background-color: white;
}

.navbar-custom .nav-link {
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;  
color: black; 
}

.nav-link:hover, .dropdown-item:hover {
text-decoration: none;
}

.navbar-brand img {
  width: 90px;
}

/* Landing page top third styling */
.banner-bg {
  background-color: black;
  height: 35%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner-text {
  text-align: center;
  position: relative;
  top: 40%;
  width: 100%;
  text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.2);
}

.banner-text h1 {
  font-weight: 600;
  color: white;
  font-size: 2.2em;
  letter-spacing: 0.1em;
}

.container {
padding: 0px 24px;
}

/* Content styling after banner */
#slogan {
text-align: center;
margin: 3rem 0;
}

#mission-statement {
text-align: center;
}

/* Card styling on landing page for courses */
.course-card {
margin: 24px 0px;
display: grid;
grid-template-columns: 15% 85%;
grid-template-rows: 6em;
}

.course-card > .card-thumbnail > img {
display: block;
height: 100%;
margin: auto;
}

/* Asset styling for bottom of every page */
footer {
margin-top: 10em;
background-color: #212121;
padding: 48px 24px;
}

footer div.container {
color: white;
}

footer div.container hr{
color: white;
}

/* Card styling in adv-topics and ap-cs-a */
.assignment-card {
margin: 24px 0px;
display: grid;
grid-template-columns: 25% 75%;
grid-template-rows: 9em;
}

.assignment-card > .card-thumbnail > img {
object-fit: cover;
height: 100%;
width: 100%;
}


.card.link:hover {
box-shadow: 0 0 11px rgba(33,33,33,.2); 
cursor: pointer;
}

/* Link styling */
a {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a.btn:hover {
  text-decoration: none;
}

a.btn {
  text-shadow: none;
}

/* Temporary styling for landing page and assignment tags */
/* UPDATE THIS */
.btn {
border-radius: 1em;
margin: 0em .5em;
color: black;
}

/* Styling for titlebar used in content pages */
div.titlebar-container {
padding: 0;
background-color: #eee;
border-bottom: 1px solid #cdd5d7;
border-top: 1px solid #cdd5d7;

}

.titlebar-container h1 {
margin: 0 auto;
padding: 24px;
}

/* Styling for special div sections */
.note {
  background-color: #dcf4ff;
  border-left: 6px solid #024e7a;
  margin: 0 0 24px;
  padding: 12px;
}

.note p:last-child, .warning p:last-child {
  margin-bottom: 0;
}

.warning {
  background-color: #ffdddc;
  border-left: 6px solid #7a0602;
  margin: 0 0 24px;
  padding: 12px;
}

/* Styling for assignment description pages */
.assignment-container {
display: grid;
grid-template-columns: 25% 75%;
}

.toc header h2 {
font-size: 1.5rem;
}

.toc.entries {
list-style-type:none;
padding-left: 0;
}

.assignment-container {
margin-top: 1.5rem;
}

article.assignment img {
margin: 0 auto;
max-width: 100%;
max-height: 22em;
display: block;
border-radius: .5em;
}

/* display: table makes figcaption left aligned of image center aligned */
figure {
display: table;
max-width: 75%;
padding: 0 auto;
margin: 0em auto;
}   

/* Styling of label for figures in assignment description pages */
/* .imgLabel {
float: left;
position: relative;
transform: translate(0%, 0%);
} */

figcaption {
text-align: left;
font-size: .7em;
margin-bottom: 16px;
}

/* Styling for mountain-paths */
/* Styling for greedy algorithm diagram */
.greedy-diagram {
display: grid;
grid-template-columns: repeat(4, minmax(min-content, 200px));
justify-content: center;
column-gap: 20px;
}

.greedy-diagram > img {
width:100%;
height: 100%;
}








